@using Web_C_.BL.Implementations;
@using Web_C_.ModelsView;
@{
    ViewData["Title"] = "Регистрация";
}
@model RegistrationModel;

<section class="registration">
    <div class="container">
        <h2 class="registration_title">Регистрация</h2>
        <div class="registration_path"><a asp-action="@nameof(Home.Index)" asp-controller="@nameof(Home)">Главная</a><span>/</span>Регистрация</div>
        <div class="registration_account">
                <form asp-action="@nameof(Home.Registration)" asp-controller="@nameof(Home)" method="post" class="registration_account_form">
                    <div class="registration_account_form_group">
                        <label asp-for="Name"></label>
                        <div class="registration_account_form_group_wrapper">
                            <input asp-for="Name" name="Name">
                            <span asp-validation-for="Name" class="text-danger">

                            </span>
                        </div>
                    </div>
                    <div class="registration_account_form_group">
                        <label asp-for="Email"></label>
                        <div class="registration_account_form_group_wrapper">
                            <input asp-for="Email" name="Email">
                            <span asp-validation-for="Email" class="text-danger">

                            @if((ViewData["UserVerification"] as UserVerificationViewModel).Email)
                            {
                                @:Почта: "@(Model.Email)" уже зарегестрирована
                            }

                            </span>
                        </div>
                    </div>
                    <div class="registration_account_form_group">
                        <label asp-for="Phone"></label>
                        <div class="registration_account_form_group_wrapper">
                            <input asp-for="Phone" placeholder="+7(999)9999999" name="Phone">
                            <span asp-validation-for="Phone" class="text-danger">
                            @if((ViewData["UserVerification"] as UserVerificationViewModel).Phone)
                            {
                                @:Телефон: "@(Model.Phone)" уже зарегестрирован
                            }
                            </span>
                        </div>
                    </div>
                    <div class="registration_account_form_group">
                        <label asp-for="Password"></label>
                        <div class="registration_account_form_group_wrapper">
                            <input asp-for="Password" name="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                                
                                
                    </div>
                    <div class="registration_account_form_group">
                        <label asp-for="ConfirmPassword"></label>
                        <div class="registration_account_form_group_wrapper">
                            <input asp-for="ConfirmPassword" name="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <button>Зарегестрироваться</button>
                </form>
                <div class="registration_account_why">
                    <div class="registration_account_why_title">Зачем нужна регистрация?</div>
                    <div class="registration_account_why_text">Зарегистрировавшись на сайте Вы сможете получить личный кабинет, что позволит Вам отслеживать историю заказов, быстрее оформлять заказы в нашем Интернет магазине, так как вся информация о Вас будет доступна в нашем магазине и ее не нужно будет повторно вносить</div>
                </div>
        </div>
                
    </div>
</section>